<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mt-5 mb-4">Edit User</h1>

      <%= render 'form' %>

      <%= link_to 'Back', users_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
